<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reedsy - Document Conversion Queuing Service</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="../../bower_components/angular-flash-alert/dist/angular-flash.css" />
    <!-- endbower -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="dist/css/main.min.css">
</head>
<body ng-app="reedsy" ng-controller="MainCntrl as vm">

<div id=main-wrapper>
    <div id=sidebar-left-wrapper>
    </div>
    <div id="content-wrapper">
        <div id="header">
            <h3>Conversions</h3>
            <div class="menu">
            <button type="button" class="btn btn-default" ng-click="vm.addConversion('PDF')">
                New PDF Conversion
            </button>
            <button type="button" class="btn btn-default" ng-click="vm.addConversion('HTML')">
                New HTML Conversion
            </button>
            </div>
        </div>

        <div id="content">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Created at</th>
                        <th>Type</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody ng-repeat="conversion in vm.conversions">
                    <tr>
                        <td>{{conversion.name}}</td>
                        <td>{{conversion.createdAt | date:'EEE, MMM d, y h:mm a'}}</td>
                        <td><span ng-class="{'type-html': conversion.type==='HTML', 'type-pdf': conversion.type==='PDF'}" class="type-icon">{{conversion.type}}</span></td>
                        <td ng-if="conversion.status === 'Queued'"><span class="glyphicon glyphicon-time"></span> {{conversion.status}}</td>
                        <td ng-if="conversion.status === 'Processing'"><span class="glyphicon glyphicon-repeat"></span> {{conversion.status}}</td>
                        <td ng-if="conversion.status === 'Processed'"><span class="glyphicon glyphicon-ok"></span> {{conversion.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="sidebar-right-wrapper">
        <flash-message class="flash-messages" show-close="true"></flash-message> 
    </div>   
</div>


    <!-- bower:js -->
    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../../bower_components/angular-socket-io/socket.js"></script>
    <script src="../../bower_components/angular-flash-alert/dist/angular-flash.js"></script>
    <!-- endbower -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="dist/js/app.min.js"></script>

</body>
</html>