@primary-color : #F8F3EF;
@accent-color: #ABD733;
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

body {  
    background: @primary-color; 
    font-family: 'Lato', sans-serif;

    #main-wrapper {
        display: flex;
        min-width: 800px;
        #content-wrapper {
            width: 50%;
            min-width: 550px;
            max-width: 600px;
            min-height: 400px;
            margin: 10px auto;
            padding: 20px;
            border: 1px solid lightgrey;
            border-radius: 4px;
            background-color: white;
        }
        #sidebar-left-wrapper {
            width: 25%;
        }
        #sidebar-right-wrapper {
            width: 25%;
            display: flex;
            justify-content: flex-end;
            .flash-messages {
                position: relative;
                top: 10px;
                right: 20px;
                min-width: 200px;
                max-width: 280px;
                height: 100%;
                overflow: auto;
                margin-right: -35px;
                margin-left: 35px;
                padding-right: 20px;
            }
        }
    }

    #header {
    display: flex;
    justify-content: space-between;
        .menu {
            display: flex;
            justify-content: right;
            button {
                margin-left: 10px;
                background-color: @accent-color;
                color: white;
            }
        }
    }

    #content {
        table {
            width: 100%;
            margin-top: 20px;

            thead {
                border: 1px solid lightgrey;
                border-radius: 4px;
            }
            th, td {
                padding: 10px;
            }
            .type-icon {
                display: inline-block;
                color: white;
                text-align: center;
                width: 60px;
                border-radius: 4px;
                padding: 5px;
            }
            .type-html {
                background-color: cornflowerblue;
            }
            .type-pdf {
                background-color: indianred;
            }
        }
    }
}